.container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
}

.games_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.empty {
  margin-top: 40px;
  text-align: center;
  color: var(--text-dark);
  opacity: 0.6;
  font-size: 1.1rem;
}

@media (max-width: 768px) {

  .container {
    padding: 10px;
  }

  .games_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}