.main {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.games {
  flex: 1;
  min-width: 0; 
  padding: 20px;
}

body {
  overflow-x: hidden;
}

@media (max-width: 768px) {

  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .games {
    width: 100%;
    padding: 10px;
  }

}
